<ion-footer>
    <ion-toolbar class="custom-footer">
        <div class="footer-images">
            <ion-button (click)="goToSearch()" fill="clear">
                <img src="assets/images/lupa.png" alt="lupa" />
            </ion-button>
            <ion-button (click)="goToChat()" fill="clear">
                <img src="assets/images/chat.png" alt="chat" />
            </ion-button>
            <ion-button (click)="goToBookmarks()" fill="clear">
                <img src="assets/images/bookmark.png" alt="bookmark" />
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>
