<ion-content>
    <ion-grid>
        <!-- Título de gestión de participantes -->
        <ion-row class="label-center titulo">
            <ion-col size="12">
                <ion-label class="group-title">Participantes del Grupo</ion-label>
            </ion-col>
        </ion-row>

        <ion-row class="participantes">
            <ion-col size="12">
                <ion-list>
                    <ion-item *ngFor="let participante of participantesGrupo">
                        <ion-label>{{ participante.username }} </ion-label>
                        <ion-button
                            *ngIf="participante.usuarioId !== usuarioId"
                            slot="end"
                            color="danger"
                            (click)="eliminarParticipante(participante.usuarioId)">
                            Eliminar
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <br><br>

        <ion-row class="anyadirparticipantes">
            <ion-col size="12">
                <ion-item class="borde">
                    <ion-label position="stacked">Añadir Participante</ion-label>
                    <ion-select
                        multiple="true"
                        [(ngModel)]="participantesAAgregar"
                        name="participantesAAgregar"
                        placeholder="Selecciona participantes a añadir">
                        <ion-select-option *ngFor="let participante of listaParticipantes" [value]="participante.usuarioId">
                            {{ participante.username }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <br>

        <ion-row class="sinseparacion" style="margin-right: 3%; margin-left: 3%">
            <ion-col size="12">
                <ion-button
                    (click)="gestionarParticipantes()"
                    style="margin-top: 5%; font-size: 4vw"
                    color="primary"
                    expand="block">
                    Guardar Cambios
                </ion-button>
            </ion-col>
        </ion-row>

        <!-- Botón para abandonar el grupo -->
        <ion-row class="sinseparacion" style="margin-right: 3%; margin-left: 3%">
            <ion-col size="12">
                <ion-button
                    (click)="abandonarGrupo()"
                    style="margin-top: 5%; font-size: 4vw"
                    color="danger"
                    expand="block">
                    Abandonar Grupo
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
