<ion-content>
    <form (ngSubmit)="agregarGrupo()">
        <ion-grid>
            <!-- Título de creación de grupo -->
            <ion-row class="label-center">
                <ion-col size="12">
                    <h2 class="group-title">Crear Nuevo Grupo</h2>
                </ion-col>
            </ion-row>

            <!-- Campo para el nombre del grupo -->
            <br>
            <ion-row>
                <ion-col size="12">
                    <ion-item class="borde">
                        <ion-label position="floating">Nombre del grupo</ion-label>
                        <ion-input type="text" placeholder="Introduce el nombre del grupo" [(ngModel)]="nuevoGrupo.nombre" name="nombre" required></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- Campo para la descripción del grupo -->

            <ion-row>
                <ion-col size="12">
                    <ion-item class="borde">
                        <ion-label position="floating">Descripción del grupo</ion-label>
                        <ion-textarea placeholder="Introduce una descripción" [(ngModel)]="nuevoGrupo.descripcion" name="descripcion" auto-grow="true" required></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="borde">
                        <ion-label class="letra">La fecha de creación del grupo se guardara automaticamente.</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- Botón para crear el grupo -->
            <br><br>
            <ion-row class="sinseparacion">
                <ion-col size="12">
                    <ion-button type="submit" color="primary" expand="block">
                        Crear Grupo
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
