ion-content{
    --padding-top: 25%;
}

ion-card-subtitle {
    font-size: 120%;
}

.header {
    text-align: center;
    background: linear-gradient(to right, #0054e9, #007bff);
    padding: 20px;
    color: white;
}

.options-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

ion-grid {
    max-width: 90%;
    margin: 0 auto;
}

.option-col {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-card {
    background: none;
    border: none;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-card:hover {
    transform: scale(1.05);
}

.option-icon {
    width: 100%;
    max-width: 150px; /* Ajusta el tamaño para pantallas más pequeñas */
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

p {
    margin-top: 10px; /* Aumenta el margen superior para separar el texto de la imagen */
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: black;
}

/* Ajustes responsivos */
@media (min-width: 768px) {
    .option-icon {
        max-width: 180px; /* Ajusta el tamaño para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .option-icon {
        max-width: 130px; /* Ajusta el tamaño para pantallas pequeñas */
    }
}
