ion-card{
    border: 1px solid black;
    border-radius: 40px;
    margin: 3%;
    width: 100%;
}
ion-card-title{
    padding: 3%;
}
ion-icon{
    margin-left: 2%;
    font-size: 30px;
    color: #247afc;
}
