<ion-content>
    <ion-list>
        <ion-item *ngFor="let grupo of grupos" class="chat-item" lines="none" (click)="goToChatUnico(grupo.grupoId)">
            <ion-avatar slot="start">
                <img src="assets/images/AIOsf.png" alt="Imagen del grupo" />
            </ion-avatar>
            <ion-badge slot="end">2</ion-badge>
            <ion-label>
                <h2>{{ grupo.nombre }}</h2>
                <p>{{ grupo.descripcion || 'Sin descripción disponible' }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="crearGrupo()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
