<ion-content>
    <ion-list>
        <!-- Lista de grupos cargados dinámicamente -->
        <ion-item *ngFor="let grupo of grupos" class="chat-item" lines="none" (click)="goToChatUnico()">
            <ion-avatar slot="start">
                <!-- Aquí puedes configurar la imagen para cada grupo o una imagen predeterminada -->
                <img src="assets/images/AIOsf.png" alt="Imagen del grupo" />
            </ion-avatar>
            <ion-label>
                <h2>{{ grupo.nombre }}</h2>
                <p>{{ grupo.descripcion || 'Sin descripción disponible' }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- Botón flotante para agregar chat -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="crearGrupo()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
