/* Estilo para el ion-content */
ion-content {
    --padding-top: 0;
    --background: #b9d2ff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Coloca el contenido hacia el final */
    height: 100%;
}

/* Estilo para el encabezado */
#azul{
    --background: #3c83f9;
}

ion-toolbar {
    --background: #b9d2ff;
    --color: black;
}

/* Estilo para el avatar */
ion-avatar {
    width: 13%;
    height: 13%;
    border-radius: 50%;
}

/* Estilo para la fila de mensajes */
.message-row {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Columna de mensaje */
.message-col {
    max-width: 60%;
    text-align: right;
}

/* Estilo de los mensajes */
.message {
    background-color: #3c83f9;
    color: white;
    padding: 10px 15px;
    border-radius: 20px 0px 20px 20px;
    font-size: 18px;
    word-wrap: break-word;
    margin-left: auto;
}

/* Estilo para el input de mensaje */
.message-input {
    border-radius: 100px;
    background-color: #3c83f9;
    border: 1px solid #000000;
    font-size: 18px;
    width: 95%;
    color: black;
    margin: auto;
}

/* Estilo para los botones de la barra de herramientas */
ion-toolbar ion-buttons {
    --background: transparent;
}

ion-button {
    --color: #3c83f9;
    --ripple-color: #cce5ff;
}

ion-icon {
    font-size: 24px;
}
.micro{
    border-radius: 100%;
    background-color: #3c83f9;
    border: 1px solid #000000;
    margin-right: 10px;
    height: 45px;
}
