<ion-header>
    <ion-toolbar id="azul">
        <ion-buttons slot="start">
            <ion-button (click)="goToChat()">
                <ion-icon name="arrow-undo"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-avatar slot="start">
            <ion-img style="width: 90%" [src]="grupo.imagen"></ion-img>
        </ion-avatar>
        <ion-title>{{ grupo.nombre }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="message-row">
            <ion-col size="12" class="message-col">
                <ion-label class="message">Hola, Bienvenidos!</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-input placeholder="  Mensaje..." class="message-input">
            <ion-buttons slot="end">
                <ion-button (click)="presentActionSheet()">
                    <ion-icon name="attach"></ion-icon>
                </ion-button>
                <ion-button>
                    <ion-icon name="videocam-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-input>
        <ion-buttons slot="end" class="micro">
            <ion-button>
                <ion-icon name="mic"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
