.borde{
  border: 1px solid black;
}

.date-fields {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.date-item {
  flex-basis: 48%;
}

ion-datetime {
  width: 100%;
  --min-width: 0;
}

.people-fields {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.fields {
  width: 33%;
  height: 100%;
  min-height: 60%;
  display: flex;
  align-items: center;
}

ion-select, ion-label {
  font-size: 16px;
  width: 100%;
}

ion-item.fields {
  --min-height: 60px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

/* Estilo para los botones */
.buttons {
  max-width: 92%;
  margin: 0 auto;
  margin-bottom: 5%;
}

ion-button {
  margin-left: 0;
  --border-radius: 12px;
  padding: 20px 0;
  height: 60px;
  font-size: 18px;
  width: 100%;
  min-height: 50px;
}

/* Centrar el label "Buscar por tipo de alojamiento" y aumentar su tamaño */
.label-center {
  text-align: center;
  font-size: 30px; /* Aumentamos el tamaño de la fuente */
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

/* Estilos para las imágenes */
.accommodation-images {
  display: flex;
  justify-content: space-around; /* Crear espacio entre las imágenes */
  align-items: center;
  margin-top: 10px;
  padding: 0 5%;
  gap: 20px; /* Añadir separación entre las imágenes */
}

.accommodation-images ion-img {
  width: 30%; /* Ajustar el tamaño de las imágenes */
  height: auto;
  border-radius: 15px; /* Esquinas redondeadas */
  overflow: hidden; /* Asegurar que las esquinas redondeadas se apliquen correctamente */
  object-fit: cover; /* Para que la imagen mantenga sus proporciones */
  margin: 4% 5% 0% 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra */
}


/* Estilos para las etiquetas debajo de las imágenes */
.accommodation-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin: 2% 0% 4% 0%;
}

.accommodation-labels ion-label {
  text-align: center;
  width: 30%;
  font-size: 25px;
}



