ion-content{
    --padding-top: 40%;
}

.borde {
    margin-top: 2%;
    border: 1px solid black;
}

/* Estilo para los botones */
ion-button {
    --border-radius: 12px;
    padding: 20px 0;
    height: 60px;
    font-size: 4vw;
    width: 100%;
    min-height: 50px;
}

ion-button:last-child {
    margin-bottom: 10%;
}

.label-center {
    text-align: center;
}

.accommodation-images ion-img {
    width: 90%;
    height: auto;
    margin: 4% 5% 0 5%;
}

ion-img{
    border-radius: 15px;
    overflow: hidden;
}

.vertical{
    vertical-align: center;
}

.sinseparacion{
    margin-bottom: 0;
    padding: 0;
}

ion-row{
    margin: 4%;
}

/* Estilo para el fab (botón flotante) */
ion-fab {
    top: 12%; /* Subir el botón desde la parte inferior */
}
