ion-content {
    --background: #f0f2f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    --padding-top: 25%;
}

.login-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.intro-container {
    text-align: center;
}

.app-logo {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
}

p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 24px;
}

.login-button {
    --background: #3880ff;
    --background-activated: #3171e0;
    --border-radius: 8px;
    font-weight: bold;
    width: 100px;
}

.features-container {
    margin-top: 32px;
}

ion-card {
    --ion-card-background: #fff;
    margin: 8px 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-card-title {
    font-size: 1.2rem;
    color: #222;
    font-weight: bold;
}

ion-card-content {
    font-size: 0.9rem;
    color: #444;
}
